#title{
  background-color: #ff4c68;
  color: #fff;


}
body{
  font-family: 'Ubuntu', sans-serif;

}
h1{
  size:3rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;

}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h2{
  font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 150%;
}
p{
  color: grey;
}
.container-fluid{
  padding: 3% 10% 16%  10%;


}
.navbar-brand{
  font-weight: bold;
  font-family: 'Ubuntu';
  font-size: 2rem;
  margin-bottom: 1rem;
}
.nav-item
{
  margin :0 1rem ;
  font-size: 20px;
}
.btn-dark
{
  margin-top: 2rem ;
  margin-right: 1rem;
}
.btn-outline-light
{
  margin-top: 2rem;
}
.ll{
  padding-left: 0;
}
.first-img{
  width: 50%;
  transform: rotate(30deg);
  position: absolute;

}
#features{
  background-color: white;

  padding:7% 10%;
  position: relative;



}
.feat{
  text-align: center;
  padding:3%;
}
.ii{
  color: #ef8172;
  margin-bottom: 2rem;
}
.ii:hover{
  color: #ff4c68;
}
#testimonials
   {
     text-align: center;
  /* padding: 7% 15%; */
  color: white;
  background-color: #ef8172;
}

.img2{
  margin: 2rem;
  border-radius:100%;
  width: 15%
}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 2rem;
}
.carousel-item{
   /* margin-top: 3rem;  */
   padding : 7% 15%;

}
.slide{ text-align: center;

}
.img4{
  width:18%;
  padding: 0 3rem;
}
#pricing{
  padding: 7% 15%;
  text-align: center;
}
.card-deck{
  margin-top: 5rem;
}
@media (max-width:1000px) {
  #title{
    text-align: center;
  }
  .first-img{
    transform: rotate(0);
    position: static;

  }

}
#cta{
  background-color: #ff4c69;
  text-align: center;
  color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 7% 30%;

}
.bb{
  margin : 2rem 1rem;
}
#footer{
  padding: 3% ;
  text-align: center;
}
.f
{ color: black;
  padding: 1rem 0.6rem;
}
.f:hover{
  color: grey;
}
